SECRET_KEY=super-secret-change-this
DATABASE_URL=sqlite:///users.db
SECRET_KEY=42870772
INTASEND_PUBLISHABLE_KEY=ISPubKey_live_eae1968c-2d1a-4bd0-8618-cfab7529843b
INTASEND_SECRET_KEY=ISSecretKey_live_2d3fb304-e310-405f-890e-2856d4530649