<!DOCTYPE html>
<html>

<head>

<title>Admin Panel</title>

<style>

body{
background:#0b1220;
color:white;
font-family:Arial;
padding:40px;
text-align:center;
}

button{

padding:15px 30px;
font-size:18px;
margin:10px;
cursor:pointer;

}

#mult{

font-size:60px;
margin:30px;

}

</style>

</head>

<body>

<h1>SUPERNOVA ADMIN</h1>

<h2>Status:
<span id="status"></span>
</h2>

<div id="mult">
1.00x
</div>

<button onclick="startRound()">
START
</button>

<button onclick="increase()">
+
</button>

<button onclick="decrease()">
-
</button>

<button onclick="crash()">
CRASH
</button>

<script>

async function refresh(){

const r=await fetch("/admin/game-state");

const d=await r.json();

document.getElementById("status").innerHTML=d.status;

document.getElementById("mult").innerHTML=d.current.toFixed(2)+"x";

}

setInterval(refresh,200);

refresh();


async function startRound(){

await fetch("/admin/start-round",{

method:"POST"

});

}

async function increase(){

await fetch("/admin/increase",{

method:"POST"

});

}

async function decrease(){

await fetch("/admin/decrease",{

method:"POST"

});

}

async function crash(){

await fetch("/admin/crash-round",{

method:"POST"

});

}

</script>

</body>

</html>
