


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page1</title>
       <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
     <style>
     </style>
</head>
    
<body class="index">
    <div class="overlay"></div>
    <div class="page1">

        <div class="welcome">
            <h5>Welcome back {{ username }} 🎉</h5>          
        </div>

        <div class="dashboard-header">

            <button class="dashboard-menu" id="menuBtn"><img src="static/images/menu.svg" alt=""></button>
            <div class="header-icons">
            
                   <a href="/notifications">
                                    
                         <div class="notification-icon">
                                        
                                &#x1F514 <span class="badge">3</span>
                                        
                         </div>
                                    
                    </a>
                                    
                    <div class="header-profile">
                                    
                        <span id="profileInitial" data-username="{{ username }}"></span>
                    </div>            
            </div>
            
        </div>
        
        <div class="sidebar" id="sidebar">

            <div class="sidebar-top">

                <button class="cancel" ><img src="static/images/close.jfif" alt=""></button>
                <img class="logo" src="static/images/supernova earn logo.png" alt="">
                <h3><Data>SUPERNOVA EARN</Data></h5>
            </div> 

            <div class="sidebar-content">

                <div class="main">
                    <p class="titles">MAIN</p>
                    <div>
                        <img src="static\images\dashboard.jfif" alt="">
                        <p>Dashboard</p>
                    </div>
                     <div>
                        <img src="static/images/vip.jfif" alt="">

                        <a class="rtchge" href="/vip">
                            <button>VIP plans</button>
                        </a>
                    </div> 
                    <div>
                         <img src="static/images/members" alt="">
                        <p>Team members</p>
                    </div>

                    <div>
                        <img src="static/images/task-icon.jfif" alt="">

                        <a class="rtchge" href="{{ url_for('task_access') }}">
                            <button>Tasks</button>
                        </a>
                    </div>
                    <div>
                        <img src="static/images/progress.jfif">

                        <a class="rtchge" href="/progress">

                            <button>Progress</button>
                        </a>
                    </div>

                </div>

                <div class="finance">
                    <p class="titles">FINANCE</p>

                    <div>
                        <img src="static/images/recharge1.jfif" alt="">
                        <a class="rtchge" href="/recharge">
                            <button>Recharge</button>
                        </a>
                    </div>
                    <div>
                         <img src="static/images/withdraw.jfif" alt="">
                           <a class="rtchge" href="{{ url_for('withdraw') }}">
                            <button>Withdraw</button>
                          </a>
                    </div>
                    
                    <div>
                         <img src="static/images/bonus.jfif" alt="">
                        <p>Commissions</p>
                    </div>

                </div>
                <div class="finance">
                    <p class="titles">HISTORY</p>

                    <div>
                        <img src="static/images/recharge1.jfif" alt="">
                        <a class="rtchge" href="{{ url_for('recharge_history') }}">
                            <button>Recharge</button>
                        </a>
                    </div>
                    
                    <div>
                         <img src="static/images/withdraw.jfif" alt="">
                           <a class="rtchge" a href="{{ url_for('withdrawal_history') }}">
                            <button>Withdrawal history</button>
                          </a>
                    </div>
                

                </div>
                <div class="games">
                    <p class="titles">GAMES</p>
                
                    <div onclick="window.location.href='/aviator'">
                        <img src="static/images/aviator-img.jfif" alt="Aviator">
                        <p>Aviator</p>
                    </div>

                    <div>
   
                        {% if current_user.is_admin %}
                        <a class="rtchge" href="/admin">
                            <img src="static/images/admin.jfif" alt="">
                            <button>Admin panel</button>
                        </a>
                        {% endif %}
                    </div> 
                
                </div>

                <div class="account">
                    <p class="titles">ACCOUNT</p>
                   
                    <div onclick="window.location.href='/profile'">
                         <img src="static/images/profile" alt="">
                        <p>Profile</p>
                    </div>
                    
                    <div>
                         <img src="static/images/logout.jfif" alt="">
                        <p> <a href="/logout">Sign Out</a></p>
                    </div>

                </div>
            </div>             

        </div>


        <div class="page-content">


            
            <div class="top-content" >


                
                    <a href="/profile" class="header-profile2">
                        <span id="profile" data-username="{{ username }}"></span>
                    </a>
                    <h5 >Welcom Again <br> {{ username }}</h5> 
            </div>

            <div class="vip-status-card">

                <h3 style="color:rgb(255,145,0);margin-top: 20px;">
                    Current VIP Plan
                </h3>

                <h2 style="color:aqua; margin: 0;margin-top: 10px;">
                    {{ vip_level }}
                </h2>

                {% if vip_expires_at %}

                    <p style="margin: 0; margin-top: 10px;">
                        Expires:
                        {{ vip_expires_at.strftime("%d %B %Y") }}
                    </p>

                    <p style="color:rgba(0, 252, 0, 0.831);font-weight:bold;margin: 0; margin-top: 10px;margin-bottom: 20px;">
                        {{ vip_days_left }} Days Remaining
                    </p>

                {% else %}

                    <p style="color:rgb(255, 255, 255);">
                        Your are on a Free plan.
                    </p>

                    <a href="/vip" >
                        <button  class="upgrade-btn">
                            Upgrade to VIP
                        </button>
                    </a>

                {% endif %}

            </div>

            <div class="wallet-income">
                <p class="p1"> TOTAL INCOME</p>
                <h2>Ksh. {{ total_income }}</h2>
                <p>ALL WALLETS COMBINED</p>
            </div>

            <div class="income">
                
                    <div class="team-income">
                            <h4>Ksh. {{ team_wallet }}</h4>
                            <p>TEAM</p>

                    </div>
                    <div class="withdrawm-income">
                            <h4>Ksh. {{ withdrawn }}</h4>
                            <p>WITHDRAWN</p>

                    </div>
                    
                    <div class="today-income">
                        <h4>Ksh. {{ today_earnings }}</h4>
                        <p>TODAY</p>
                    </div>

            </div>
         <div class="wallet-container">
            <p class="wallet-name">YOUR WALLETS</p>
            
            <div class="all-wallets">
                
                 <div class="main-wallet">
                     <img src="static/images/wallet.jfif" alt="" class="wallets-img">
                     <p>MAIN WALLET</p>
                     <h4>Ksh. {{ main_wallet }}</h4>
                      <h6>MAIN</h6>
                </div>

                <div class="team-earnings">
                    <img src="static/images/team earnins.jfif" alt="" class="wallets-img">
                     <p>TEAM EARNINGS</p>
                     <h4>Ksh. {{ team_wallet }}</h4>
                    <h6>TEAM</h6>
                </div>


                <div class="task-wallet">
                     <img class="task-img" src="static/images/task wallet.jfif" alt="" class="wallets-img">
                     <p>TASK WALLET</p>
                     <h4>Ksh. {{ task_wallet }}</h4>
                      <h6>TASK</h6>
                </div>

                <div class="total-withdrawals">
                     <img src="static/images/today earn.jfif" alt="" class="wallets-img">
                     <p>TOTAL WITHDRAWN</p>
                     <h4>Ksh. {{ withdrawn }}</h4>
                      <h6>PAID</h6>
                </div>

                <div class="today-earnings">

                    <img class="earnings-img"
                        src="static/images/today earnings.jfif">

                    <p>TODAY'S EARNINGS</p>

                    <h4>Ksh. {{ today_earnings }}</h4>

                    <h6>TODAY</h6>

                </div>

                <div class="commissions">
                     <img src="static/images/commission.jfif" alt="" class="wallets-img">
                     <p>COMMISSIONS</p>
                     <h4>Ksh. {{ commissions }}</h4>
                      <h6>COMMS</h6>
                </div>

               
            </div>

          </div>
           
            
            <div class="invite-link">
                    <div class="invite">
                        <img src="static/images/Link Icon Svg, Pdf, Vector, Eps, Dxf - Etsy.jfif" alt="">
                        <p>Your Invite Link</p>
                    </div>
                    <div class="link">
                        <h4>Total Referrals: {{ total_referrals }}</h4>
                        
                            <input
                                type="text"
                                id="referralLink"
                                value="{{ referral_link }}"
                                readonly
                            >
                        <button><span placeholder="COPY LINK" onclick="copyReferralLink()">COPY LINK</span></button>
                    </div>
            </div>
        </div>
      
    </div>
  
</body>
</html>
