


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page1</title>
       <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>

</head>
    
<body class="index">
    <div class="overlay"></div>
    <div class="page1">

        <div class="welcome">
            <h5>Welcome back {{ username }} 🎉</h5>          
        </div>

        <div class="dashboard-header">

            <button class="dashboard-menu" id="menuBtn"><img src="static/images/menu.svg" alt=""></button>

            <div class="header-profile">
                  <span id="profileInitial" data-username="{{ username }}"></span>
            </div>
        </div>
        
        <div class="sidebar" id="sidebar">

            <div class="sidebar-top">
                <div onclick="window.location.href='/profile'">
                    <img src="static/images/profile.png">
                    <p>Profile</p>
                </div>
                <button class="cancel" ><img src="static/images/close.jfif" alt=""></button>
                <img class="logo" src="static/images/supernova earn logo.png" alt="">
                <h3><Data>SUPERNOVA EARN</Data></h5>
            </div> 

            <div class="sidebar-content">

                <div class="main">
                    <p class="titles">MAIN</p>
                    <div>
                        <img src="static\images\dashboard.jfif" alt="">
                        <p>Dashboard</p>
                    </div>
                    <div>
                         <img src="static/images/members" alt="">
                        <p>Team members</p>
                    </div>
                    <div>
                         <img src="static/images/earn.jfif" alt="">
                        <p>Watch to Earn</p>
                    </div>

                </div>

                <div class="finance">
                    <p class="titles">FINANCE</p>
                    <div>
                         <img src="static/images/withdraw.jfif" alt="">
                        <p>Withdraw</p>
                    </div>
                    <div>
                         <img src="static/images/recharge1.jfif" alt="">
                        <p>Recharge</p>
                    </div>
                    
                    <div>
                         <img src="static/images/bonus.jfif" alt="">
                        <p>Bonuses</p>
                    </div>

                </div>
                <div class="games">
                    <p class="titles">GAMES</p>
                
                    <div onclick="window.location.href='/aviator'">
                        <img src="{{ url_for('static', filename='images/aviator icon.webp') }}" alt="Aviator">
                        <p>Aviator</p>
                    </div>
                
                </div>

                <div class="account">
                    <p class="titles">ACCOUNT</p>
                    <div>
                         <img src="static/images/profile" alt="">
                        <p>Profile</p>
                    </div>
                    <div>
                        <span>👑</span>
                        <p><a href="/admin/aviator">Aviator Admin</a></p>
                    </div>
                    <div>
                         <img src="static/images/logout.jfif" alt="">
                        <p> <a href="/logout">Sign Out</a></p>
                    </div>

                </div>
            </div>             

        </div>


        <div class="page-content">
            
            <div class="top-content" >
                
                    <div class="header-profile2">
                      <span id="profile" data-username="{{ username }}"></span>
                    </div>
                    <h5 >Welcom Again <br> {{ username }}</h5> 
            </div>

            <div class="wallet-income">
                <p class="p1"> TOTAL INCOME</p>
                <h2>Ksh. {amount}</h2>
                <p>ALL WALLETS COMBINED</p>
            </div>

            <div class="income">
                
                    <div class="team-income">
                            <h4>Ksh.{team amount}</h4>
                            <p>TEAM</p>

                    </div>
                    <div class="withdrawm-income">
                            <h4>Ksh.{team amount}</h4>
                            <p>WITHDRAWN</p>

                    </div>
                    
                    <div class="today-income">
                        <h4>Ksh. {wtds amount}</h4>
                        <p>TODAY</p>
                    </div>

            </div>
         <div class="wallet-container">
            <p class="wallet-name">YOUR WALLETS</p>
            
            <div class="all-wallets">    

                <div class="team-earnings">
                    <img src="static/images/team earnins.jfif" alt="" class="wallets-img">
                     <p>TEAM EARNINGS</p>
                     <h4>Ksh{amount }</h4>
                    <h6>TEAM</h6>
                </div>

                <div class="main-wallet">
                     <img src="static/images/wallet.jfif" alt="" class="wallets-img">
                     <p>MAIN WALLET</p>
                     <h4>Ksh{amount }</h4>
                      <h6>MAIN</h6>
                </div>

                <div class="task-wallet">
                     <img class="task-img" src="static/images/task wallet.jfif" alt="" class="wallets-img">
                     <p>TASK WALLET</p>
                     <h4>Ksh{amount }</h4>
                      <h6>TASK</h6>
                </div>

                <div class="total-withdrawals">
                     <img src="static/images/today earn.jfif" alt="" class="wallets-img">
                     <p>TOTAL WITHDRAWN</p>
                     <h4>Ksh{amount }</h4>
                      <h6>PAID</h6>
                </div>

                <div class="today-earnings">
                     <img class="earnings-img" src="static/images/today earnings.jfif" alt="" class="wallets-img">
                     <p>TODAY'S EARNINGS</p>
                     <h4>Ksh{amount }</h4>
                      <h6>TODAY</h6>
                </div>

                <div class="commissions">
                     <img src="static/images/commission.jfif" alt="" class="wallets-img">
                     <p>COMMISSIONS</p>
                     <h4>Ksh{amount }</h4>
                      <h6>COMMS</h6>
                </div>

               
            </div>

          </div>
           
            
            <div class="invite-link">
                    <div class="invite">
                        <img src="static/images/Link Icon Svg, Pdf, Vector, Eps, Dxf - Etsy.jfif" alt="">
                        <p>Your Invite Link</p>
                    </div>
                    <div class="link">
                        <h4>Total Referrals: {{ total_referrals }}</h4>
                        
                        <p   type="text" id="referralLink"   >{{ referral_link }}</p>
                        <button><span placeholder="COPY LINK" onclick="copyReferralLink()">COPY LINK</span></button>
                    </div>
            </div>
        </div>
      
    </div>
  
</body>
</html>
