<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
     <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body style="
            background: rgba(0, 0, 0, 0.957);    
            height: 100vh; 
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0;
         
            ">
    
        <form method="POST">
            <div class="otp-send">
                <img src="static/images/emailing otp.jfif" alt="">
                 <input type="email" name="email" placeholder="Enter your email" required>

                <button type="submit">Send OTP</button>
            </div>             
        </form>

</body>
</html>
</form>
</body>
</html>