<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  
</head>
<body>


    <form action="/login" method="POST">
    <div class="login-container">
        <div class="login-header">
            <div class="top">
                <div class="login-logo"><img src="static/images/images (1).jfif" alt=""></div>
                <div class="web-name">
                    <h3>DOLLAR MINE</h3>
                    <p>Sign into your account</p>
                </div>
            </div>

            <div class="notice">
                <p>Use your <span>username or email to sign in</span></p>
            </div>
        </div>

        <div class="credentials">
            <label for="">Username or Email</label>
            <input class="email-input" type="email" name="email" id="" placeholder="username or yourname@email.com" required>
            <div class="password">
               <label>Password</label>
                <label class="forgot">Forgot password?</label>
            </div> 
            <div class="show-password">
                <input type="password"  id="password" placeholder="••••••••" name="password" required>
               <div class="eye"  onclick="togglePassword()"  ><img  id="eyeIcon" src="static/images/close-eye.jfif" alt=""></div> 
            </div>
            <div class="checkbox">
             <input type="checkbox"><p>Remember me</p>
            </div>
        </div>
        
        <div class="bottom">
            <button class="login-btn" type="submit"><p> Sign In</p></button>
            <p class="line2">OR CONTINUE WITH</p>
          
            <div class="media">
                <button><img src="static/images/x.jfif" alt=""></button>
                <button><img src="static/images/fb.jfif" alt=""></button>
                <button><img src="static/images/whatsp.jfif" alt=""></button>
            </div>
            <p class="root">
                Don't have an account?<span>
                    <a href="/signup" target="_blank">Sign Up</a>
                </span> 
            </p>
        </div>

    </div>
   </form> 
   <script>
function togglePassword() {
    const password = document.getElementById("password");
    const eyeIcon = document.getElementById("eyeIcon");

    if (password.type === "password") {
        password.type = "text";
        eyeIcon.src = "{{ url_for('static', filename='images/open-eye.jfif') }}";
    } else {
        password.type = "password";
        eyeIcon.src = "{{ url_for('static', filename='images/close-eye.jfif') }}";
    }
}
</script>
</body>
</html>
