<!DOCTYPE html>
<html>
<head>
    <title>Recharge Wallet</title>
</head>
<body>

<h2>Recharge Wallet</h2>

<form method="POST">

    <input
        type="number"
        name="amount"
        placeholder="Amount"
        min="10"
        required
    >

    <br><br>

    <input
        type="text"
        name="phone"
        value="{{ current_user.phone }}"
        placeholder="Phone Number"
        required
    >

    <br><br>

    <button type="submit">
        Recharge
    </button>

</form>

</body>
</html>